* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  background-color: #252525;
}

a {
  text-decoration: none;
}

.navbar {
  background: #3F62A6;
  color: #fff;
}

.row :nth-child(even){
  background-color: #3E61A4;
}

.row :nth-child(odd){
  background-color: #4268AF;
}
