* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

.navbar {
  background: #3F62A6;
  color: #fff;
  height: 10vh;
}

.card {
  background: none !important;
}

.card-group {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
  background: #3F62A4;
}

.card-img, .card-img-bottom, .card-img-top {
  height: 90px;
  width: 90px;
}

.card-group>.card {
  margin: 0 !important;
  border-radius: 0 !important;
  height: 250px;
  padding: 15px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}